# 忽略虚拟环境
venv/
env/

# 忽略系统或 Python 缓存
__pycache__/
*.pyc
.DS_Store
.venv_smolvlm
benchmarks
scienceqa_images
document
.hf_cache
# 忽略庞大的模型权重（绝对不能传！）
SmolVLM2_Weights/

# 如果你的 jsonl 评测集超过了 100MB，也请把它加进来忽略掉
real_scienceqa_eval.jsonl
quant_eval_report.json